doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/my_script.js")
  body
    .topbar
      block topbar
    block content
